<!DOCTYPE html>
<html>
<head>
    <title>Registration form</title>
</head>
<body>

    <h1>Course Registration form of student</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST">

        <label>Name:</label>
        <input type="text" name="name">
        <br><br>

        <label>Email:</label>
        <input type="email" name="email">
        <br><br>

        <label>Course:</label>
        <input type="text" name="course">
        <br><br>

        <button type="submit">Register</button>

    </form>

</body>
</html>